body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #161717;
    color:white
}

#globalContainer{
    /* background-color: red; */
    width: 60vw;
}

span{
    font-size: x-large;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

#authButtons{
    margin-top: 5%;
    display: flex;
    height: 5vh;
    flex-direction: row;
}

#googleButton{
    width: 60%;
    /* height: ; */
    background-color: #1a73e8;
    border: none;
    border-radius: 2px;
    display: flex;
    flex-direction: row;
}

#googleButton:hover{
    opacity: 0.75;
}

#twitterButton{
    margin-left: 1%;
    width: 10%;
    background-color: #f2f2f2;
    border: none;
    border-radius: 2px;
    color:#6e6d7a;
    font-size: x-large;
}

#twitterButton:hover{
    background-color: #c3c3c3;
}
#googleButton img{
    height: 50%;
    padding: 3% 4%;
    margin-left: -1%;
    display: flex;
    align-self: center;
    background-color: white;
    border-radius: 2px;
}

#googleButton span{
    font-size: 110%;
    margin-left: 15%;
    align-self: center;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

#separator{
    margin-top: 5vh;

    display: flex;
    flex-direction: row;
    color:#6e6d7a;
    font-size: small;
}

#separator hr{
    border: none;
    border-bottom: 1px solid #6e6d7a;
    width: 100%;
    margin-bottom: 3%;
}

#separator span{
    font-size: larger;

}

form{
    display: flex;
    flex-direction: column;
    margin-top: 3vh;
}

form div{
    display: flex;
    flex-direction: column;
    margin-bottom: 4vh;

}

#nameAndUsername{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#nameAndUsername div{
    width: 48%;
}

input{
    background-color: #212121;
    height: 5vh;
    margin-top: 1%;
    border-radius: 5px;
    border: 1px solid #f3f3f4;
    color: white;
}

input:hover{
    background-color: #454045;
    box-shadow: 0px 0px 10px pink;
    transition-property: all;
    transition-duration: 0.3s;
}

label{
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    
}

#terms input{
    transform: scale(150%);
    padding: 0%;
}

#terms input:hover{
    box-shadow: none;
    transition-property: none;
}

#terms{
    margin-top: 1vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 5vh;
}
#terms span{
    color:#6e6d7a;
    font-size: small;
    font-weight: 100;
}

#submitButton{
    margin-top: 1vh;
    background-color: #ea4c89;
    border: none;
    padding: 2% 3%;
    font-size: large;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}

#submitButton:hover{
    opacity: 0.75;
}
button{
    cursor: pointer;
}